
html,body{
  padding: 0;
  margin: 0;
  font-family:  "Avenir", "Avenir Next W01", system-ui, sans-serif;
}
/* Remove this before deployement */
/* div{
  border: 2px solid red;
} */

#root{
  margin: 0;
}

h2{
  margin: 0;
}