.navbar{
    background-color: #383838;
    padding:10px  5px;
    font-size: 14px;
    font-weight: 600;
    /* font-weight: 600; */
    user-select: none;
}
.navbar a{
    text-align: center;
    display: inline-block;

    color: #b9b7b7;
    width: 55px;
    text-decoration: none;

}
.navbar ul{
    display: flex;
    justify-content: space-evenly;

    margin: 0;
    padding: 0;
    list-style: none;

    transition: ease-in 300ms all;
}
.navbar .active{
    color: #ffffff ;
}

@media (min-width: 800px) {
    .navbar{
        padding-left: 10px;
        font-size: 16px;
    }
    .navbar ul{
        justify-content: flex-start;
    }
    .navbar a{
        width: 100px;
    }
  }