.exercises-applied-filter{
    background-color:rgb(2, 150, 255);
    color: white;
    padding:7px 10px;
    border-radius: 2px;
    margin-right: 10px;
    display: inline-block;

}
.exercises-applied-filter button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 25px;
    height: 25px;
    border-radius: 50%;

    margin-left: 10px;
}
.exercises-applied-filter button:active{
    filter: brightness(.8);
}