.exercise-tabs{
    display: flex;
    justify-content:space-between;
    position: relative;
    margin-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.58);
}
.selected-tab{
    border-color:rgba(0, 0, 0, 0.58) !important;
    transition:all 300ms ease-in;
}
.exercise-tabs label{
    font-weight: 600;
    font-size: 14px;
    padding-block: 10px;
    padding-inline:15px;
    border-bottom:3px solid transparent;
    transition: all 300ms ease-out;
    cursor: pointer;
}
.exercise-tabs input[type="radio"]{
    display: none;
}
.exercise-tab-view{
    padding-top: 20px;
}

.exercise-about-container{
    padding: 10px;
    --child-max-width:750px;
}
.exercise-about-container img{
    max-width: var(--child-max-width,750px);
    width:100%;
    height: 250px;
}
.exercise-instruction{
    background-color: rgb(209, 209, 209);
    margin-bottom: 4px;
    display: flex;
    max-width: 1200px;

}
.exercise-instruction-text{
    padding: 5px;

}
.exercise-step-number{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(123, 123, 123);
    color: white;
    padding: 10px;
}
@media (min-width:800px) {
    .exercise-tabs{
        justify-content: flex-start;
        gap: 100px;
    }
}
@media (min-width:1300px) {
    .exercise-about-container{
        display: flex;
        gap: 15px;
        margin-top: 50px;
    }
    .exercise-about-container img{
        width: 600px;
    }
    .exercise-instruction{
        max-width: 100%;
        margin-bottom: 10px;
    }
    .exercise-instructions{
        flex: 1;
    }
}